@{
    ViewBag.Title = "Email bekræftet";
}

<h2>@ViewBag.Title.</h2>
<div>
    <p>
        Tak for at aktivere din konto @Html.ActionLink("Klik her for at logge ind", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
    </p>
</div>
