<!--Editor-->
@model byte[]

<div class="signature-pad">
    <canvas class="panel panel-default form-control"></canvas>
    <button type="button" class="btn btn-info btn-sm btn-clear-canvas" >Ryd</button>
    @Html.HiddenFor(model => model, ViewData["htmlAttributes"])
</div>