@{
    ViewBag.Title = "Kontakt";
}

<h3>@ViewBag.Message</h3>

<address>
    Klokkevej 2A<br />
    9230 Svenstrup J<br />
    <abbr title="Telefon">P:</abbr>
    60177516
</address>

<address>
    <strong>Private:</strong>   <a href="mailto:Quanvle@live.dk">Send mail direkte til mig</a><br />
</address>