@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Qu Dev</h1>
    <p class="lead">
        Hej og velkommen til mit Asp.net projekt <br />
        Hvor jeg udfordre mig selv og tilegner mig nye kompetencer indenfor dot.net på denne side er der implementeret følgende:
        <h5>
            <ul>
                <li>
                    Azure blob storage
                    <ul>
                        <li>til min export til excel funktion</li>
                    </ul>
                </li>
                <li>
                    Azure Key vault for håndtering af sensitive oplysninger
                    <ul>
                        <li>Apikey</li>
                        <li>Connectionstring</li>
                        <li>Secrets</li>
                    </ul>
                </li>
                <li>
                    Sendgrid
                    <ul>
                        <li>Til at sende aktiverings mail</li>
                    </ul>
                </li>
                <li>
                    Database
                    <ul>
                        <li>
                            MSSQL
                        </li>
                    </ul>
                </li>
                <li>
                    Backend
                    <ul>
                        <li>c#</li>
                        <li>Javascript</li>
                    </ul>
                </li>
                <li>
                    Frontend
                    <ul>
                        <li>Javascript</li>
                        <li>Razor</li>
                        <li>HTML</li>
                        <li>Bootstrap/CSS</li>
                    </ul>
                </li>
            </ul>



        </h5>
    </p>
    <p><a href="https://www.linkedin.com/in/quu/" target="_blank" class="btn btn-primary btn-lg">LinkedIn</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <figure class="figure" style="width: 88%">
            <img src="https://res.cloudinary.com/practicaldev/image/fetch/s--MOKp0Jew--/c_limit%2Cf_auto%2Cfl_progressive%2Cq_auto%2Cw_880/https://www.probytes.net/wp-content/uploads/2018/01/4-1.png" class="figure-img img-fluid rounded"/>
            <figcaption class="figure-caption text-center"></figcaption>
        </figure>
    </div>
    <div class="col-md-4">
        <figure class="figure">
            <img src="https://cdn-images-1.medium.com/max/800/0*6BJ4tCBLBO2M6JSS.jpg" class="figure-img img-fluid rounded" alt="..."/>
            <figcaption class="figure-caption text-center"></figcaption>
        </figure>
    </div>
    <div class="col-md-4">
        <figure class="figure">
            <img src="https://www.memesmonkey.com/images/memesmonkey/0d/0d580111645c718c333e62f3dcbb2b6b.jpeg" class="figure-img img-fluid rounded" alt="...">
            <figcaption class="figure-caption text-center"></figcaption>
        </figure>
    </div>

</div>