@using DocumentFormat.OpenXml.Math
@{
    ViewBag.Title = "Home Page";
}

<head>
    @*<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
        <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
        <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>*@
    <!---- Include the above in your HEAD tag -------->
</head>
<body>
<div class="jumbotron" style="margin-bottom: 1rem;">
    <p class="lead">
        Hej og velkommen til mit Asp.net projekt <br/>
        Hvor jeg udfordre mig selv og tilegner mig nye kompetencer indenfor dot.net på denne side er der implementeret følgende:
        <h5>
            <ul>
                <li>
                    Azure blob storage
                    <ul>
                        <li>til min export til excel funktion</li>
                    </ul>
                </li>
                <li>
                    Azure Key vault for håndtering af sensitive oplysninger
                    <ul>
                        <li>Apikey</li>
                        <li>Connectionstring</li>
                        <li>Secrets</li>
                    </ul>
                </li>
                <li>
                    Sendgrid
                    <ul>
                        <li>Til at sende aktiverings mail</li>
                    </ul>
                </li>
                <li>
                    Database
                    <ul>
                        <li>
                            MSSQL
                        </li>
                    </ul>
                </li>
                <li>
                    Backend
                    <ul>
                        <li>c#</li>
                        <li>Javascript</li>
                    </ul>
                </li>
                <li>
                    Frontend
                    <ul>
                        <li>Javascript</li>
                        <li>Razor</li>
                        <li>HTML</li>
                        <li>Bootstrap/CSS</li>
                    </ul>
                </li>
            </ul>



        </h5>
    </p>
    <p><a href="https://www.linkedin.com/in/quu/" target="_blank" class="btn btn-outline-danger btn-lg">LinkedIn</a></p>
</div>

</body>

<!--Timeline-->
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div style="display:inline-block;width:100%;overflow-y:auto;">
                <ul class="timeline timeline-horizontal">

                    <li class="timeline-item">
                        <div class="timeline-badge primary"><i class="glyphicon glyphicon-check"></i></div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4 class="timeline-title">Uddannelsestart</h4>
                                <p><small class="text-muted"><i class="glyphicon glyphicon-time"></i> 15/08/2018</small></p>
                            </div>
                            <div class="timeline-body">
                                <img src="https://techcollege.dk/media/5453/techcollege_logo_650px_smal.png" class="figure-img img-fluid rounded w-100" alt="..." />

                            </div>
                        </div>
                    </li>

                    <li class="timeline-item">
                        <div class="timeline-badge success"><i class="glyphicon glyphicon-check"></i></div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4 class="timeline-title">1 uges praktik</h4>
                                <p><small class="text-muted"><i class="glyphicon glyphicon-time"></i> 01/10/2018</small></p>
                            </div>
                            <div class="timeline-body">
                                <img src="https://www.greenclick.dk/wp-content/uploads/2019/02/greenclick-green.svg" class="figure-img img-fluid rounded w-100" alt="..." />

                            </div>
                        </div>
                    </li>


                    <li class="timeline-item">
                        <div class="timeline-badge primary"><i class="glyphicon glyphicon-check"></i></div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4 class="timeline-title">Grundforløb bestået</h4>
                                <p><small class="text-muted"><i class="glyphicon glyphicon-time"></i> 15/01/2019</small></p>
                            </div>
                            <div class="timeline-body">
                                <img src="https://techcollege.dk/media/5453/techcollege_logo_650px_smal.png" class="figure-img img-fluid rounded w-100" alt="..." />

                            </div>
                        </div>
                    </li>



                    <li class="timeline-item">
                        <div class="timeline-badge success"><i class="glyphicon glyphicon-check"></i></div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4 class="timeline-title">H1 Gennemført</h4>
                                <p><small class="text-muted"><i class="glyphicon glyphicon-time"></i> 11/10/2019</small></p>
                            </div>
                            <div class="timeline-body">

                            </div>
                        </div>
                    </li>


                    <li class="timeline-item">
                        <div class="timeline-badge success"><i class="glyphicon glyphicon-check"></i></div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4 class="timeline-title">H2 Gennemført</h4>
                                <p><small class="text-muted"><i class="glyphicon glyphicon-time"></i> 11/02/2020</small></p>
                            </div>
                            <div class="timeline-body">
                                <img src="https://scontent-cph2-1.xx.fbcdn.net/v/t1.0-9/19598865_257434141406962_1640412374804081285_n.png?_nc_cat=111&_nc_sid=e3f864&_nc_ohc=PUCs5CJ02b4AX-swJAW&_nc_ht=scontent-cph2-1.xx&oh=2d01b9756b4673fb50ecd703c269c5e3&oe=5F05D7EF" class="figure-img img-fluid rounded w-100" alt="..." />

                            </div>
                        </div>
                    </li>

                </ul>
            </div>
        </div>
    </div>



</div>

