@{
    ViewBag.Title = "Home Page";
}

<head>
    @*<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>*@
    <!---- Include the above in your HEAD tag -------->
</head>
<body>
    <div class="jumbotron" style="margin-bottom: 1rem;">
        <h1>Qu Dev</h1>
        <p class="lead">
            Hej og velkommen til mit Asp.net projekt <br />
            Hvor jeg udfordre mig selv og tilegner mig nye kompetencer indenfor dot.net på denne side er der implementeret følgende:
            <h5>
                <ul>
                    <li>
                        Azure blob storage
                        <ul>
                            <li>til min export til excel funktion</li>
                        </ul>
                    </li>
                    <li>
                        Azure Key vault for håndtering af sensitive oplysninger
                        <ul>
                            <li>Apikey</li>
                            <li>Connectionstring</li>
                            <li>Secrets</li>
                        </ul>
                    </li>
                    <li>
                        Sendgrid
                        <ul>
                            <li>Til at sende aktiverings mail</li>
                        </ul>
                    </li>
                    <li>
                        Database
                        <ul>
                            <li>
                                MSSQL
                            </li>
                        </ul>
                    </li>
                    <li>
                        Backend
                        <ul>
                            <li>c#</li>
                            <li>Javascript</li>
                        </ul>
                    </li>
                    <li>
                        Frontend
                        <ul>
                            <li>Javascript</li>
                            <li>Razor</li>
                            <li>HTML</li>
                            <li>Bootstrap/CSS</li>
                        </ul>
                    </li>
                </ul>



            </h5>
        </p>
        <p><a href="https://www.linkedin.com/in/quu/" target="_blank" class="btn btn-primary btn-lg">LinkedIn</a></p>
    </div>

</body>



<!--Timeline-->
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div style="display:inline-block;width:100%;overflow-y:auto;">
                <ul class="timeline timeline-horizontal">
                    <!-- First box -->
                    <li class="timeline-item">
                        <div class="timeline-badge primary"><i class="glyphicon glyphicon-check"></i></div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4 class="timeline-title">Uddannelsesstart</h4>
                                <p><small class="text-muted"><i class="glyphicon glyphicon-time"></i> 05/08/2018</small></p>
                            </div>
                            <div class="timeline-body">
                                <img src="https://cdn-images-1.medium.com/max/800/0*6BJ4tCBLBO2M6JSS.jpg" class="figure-img img-fluid rounded" alt="..." />
                                <p>Uddannelsesstart</p>
                            </div>
                        </div>
                    </li>


                </ul>
            </div>
        </div>
    </div>




</div>


@*<div class="row">
        <div class="col-md-4">
            <figure class="figure" style="width: 88%">
                <img src="https://res.cloudinary.com/practicaldev/image/fetch/s--MOKp0Jew--/c_limit%2Cf_auto%2Cfl_progressive%2Cq_auto%2Cw_880/https://www.probytes.net/wp-content/uploads/2018/01/4-1.png" class="figure-img img-fluid rounded"/>
                <figcaption class="figure-caption text-center"></figcaption>
            </figure>
        </div>
        <div class="col-md-4">
            <figure class="figure">
                <img src="https://cdn-images-1.medium.com/max/800/0*6BJ4tCBLBO2M6JSS.jpg" class="figure-img img-fluid rounded" alt="..."/>
                <figcaption class="figure-caption text-center"></figcaption>
            </figure>
        </div>
        <div class="col-md-4">
            <figure class="figure">
                <img src="https://www.memesmonkey.com/images/memesmonkey/0d/0d580111645c718c333e62f3dcbb2b6b.jpeg" class="figure-img img-fluid rounded" alt="...">
                <figcaption class="figure-caption text-center"></figcaption>
            </figure>
        </div>

    </div>*@

